@import url('https://xn--mgbg4a8cpdl.com/fonts/fonts.css');

img {
    height: auto;
    width: auto;
    transition: transform ease-in-out 0.3s;
}

img[src*="#shadow"] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:active[src*="#zoom"] {
    cursor: zoom-out;
    transform: scale(2.0);
}

img[src*="#zoom"] {
    cursor: zoom-in;
}

img[src*="#center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[src*="#no-border"] {
    border: 0px;
    width: 200px;
}

a.md-logo img {
    border: none;
}

  body, input {
    font-family: "Tajawal", -apple-system, Helvetica, Arial, sans-serif;
  }  

  @media only screen and (min-width: 1400px) {
    .md-main__inner {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1%;
        padding-right: 2%;
    }
    .md-sidebar--primary {
        left: 0;
    }
    .md-sidebar--secondary {
        right: 0;
        margin-left: 0;
        -webkit-transform: none;
        transform: none;   
    }
    .md-grid {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1%;
        padding-right: 2%;
    }
  }

  .md-header__button.md-logo img, .md-header__button.md-logo svg {
    fill: currentColor;
    display: block;
    height: 1.8rem;
    width: auto;
}

.md-header__button.md-logo {
    margin: .2rem;
    padding: 0;
}

.md-header__button {
    color: currentColor;
    cursor: pointer;
    margin: .2rem;
    outline-color: var(--md-accent-fg-color);
    padding: 0; 
    position: relative;
    transition: opacity .25s;
    vertical-align: middle;
    z-index: 1;
}